*{
    box-sizing: border-box;
   
}
table {

    width: 100%;
    /* border-collapse: collapse; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.nav-hover:hover{
    color: black !important;
    transition: all 0.3s ease-in;
  }

.heading2{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: jomhuria;
    margin-top: 80px;
}
/* .heading2{
 border: solid 5px #c3073f;
   margin-bottom: 30px;
   width: 500px;
   border-radius: 20px;
   animation: fadeIn 2s forwards;
} */

@font-face {
    font-family: jomhuria;
    src: url(/static/Jomhuria-Regular.ttf);
  }
  
  @font-face {
    font-family: jose;
    src: url(/static/JosefinSans-Regular.ttf);
  }
  
  
  
    body {
       
        background-color: #1a1a1d;
        /* color: white; */
        /* font-size: x-large; */
    }  
    
tr {
    font-family: jomhuria;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    
    
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}








h1 {

    text-align: center;
    font-family: jose;
}
tr.invalid {
    background-color: yellow;
}

/* Highlight fraud transactions in red */
tr.fraud {
    background-color: red;
}

/* Highlight non-fraud transactions in green */
tr.Not-fraud {
    background-color: green; 
}



/* Style for the expand button */
.expand-btn {
    cursor: pointer;
    background-color: #c3073f;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    height: 37px;
}

.expand-btn:hover {
    background-color: white;
    color: black;
    /* border: 1px solid #4CAF50; */
    transition: all 0.7s ease;   
}


.tablee
{
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
 
}

h1,tr{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: fadeIn 2s forwards;
}

.btttn input[type="submit"] {
    display: block;
    background-color: #c3073f;
    border: 3px solid #780d2e;
    color: white;
    font-family: jose;
    font-size: 20px;
    border-radius: 10px;
      cursor: pointer;
      padding: 10px;
    /* margin-top: 20px; */
    
}
.btttn input[type="submit"]:hover {
    background-color: #950740;
    /* color: black; */
    /* border: 1px solid #4CAF50; */
    transition: all 0.5s ease;   
}
.btttn
{
    margin-top: 20px;
    width: 100%;
    /* border: solid 1px #c3073f; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

