*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

video {
    /* margin-top: 50px; */
    width: 100vw;  /* Adjust as needed */
    height: 90vh; /* Adjust as needed */
}