<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dash.css">
    <title>Welcome to Vanguard!</title>

</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Vanguard
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="" target="_blank">Home</a>
          <a href="" target="_blank">Make Transaction</a>
          <a href="" target="_blank">History</a>
          <a href="" target="_blank">About</a>
          <a href="" target="_blank">Contact Us</a>
        </div>
      </div> 
<div class="centre-items">
      <div class="info">
        <h1>Vanguard</h1>
        <h3>Securing Rajasthan Together</h3>
        <p>Our mission is to provide a secure and reliable platform for the people of Rajasthan to make transactions and keep their money safe
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam consequatur doloribus dolorem animi eaque maiores nesciunt, ducimus, amet nulla nostrum excepturi itaque dolor assumenda neque possimus laborum porro quia adipisci accusamus beatae! Veritatis ut incidunt illum consequatur dolor nulla perferendis quae, placeat explicabo porro voluptas praesentium! Praesentium deleniti soluta velit!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque atque maiores repudiandae libero ex beatae excepturi dolorem ad, adipisci voluptatibus..</p>
          <button class="animated-border-button">Read more</button>
      </div>
      <div class="picture">
       <img src="/7176685.jpg" alt="" height="300px">
      </div>
     
      </div>
</body>
</html>