<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/dash.css">
  <title>Welcome to Vanguard!</title>

</head>

<body>
  <div class="cont1">
    <!-- nabar -->
    <div class="nav">
      <!-- <input type="checkbox" id="nav-check"> -->
      <div class="nav-header">
        <img src="/static/images/logo.svg" class="logo" alt="">
        <div class="nav-title">
          Vanguard
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="" target="_blank">Home</a>
        <a href="" target="_blank">Check for Fraud</a>
        <a href=""><form action="{{ url_for('submit') }}" method="post" style="display: inline;">
          <input type="submit" value="History" 
          style="background: none; border: none; color: white; text-decoration: none; cursor: pointer; font-family: jose;
          font-size: 20px;">
      </form></a>
        <a href="" target="_blank">Manage</a>
        
        
        <a href="{{ url_for('about') }}" target="_blank">About us</a>
      
      </div>
    </div>
    <!-- hero-section  -->
    <div class="centre-items">
      <div class="info">
        <div class="heroTitle">Vangaurd</div>

        <div class="heroTitle2">Securing Rajasthan Together</div>

        <div class="heroPara">Our mission is to provide a secure and reliable platform for the people of Rajasthan to
          make transactions and keep their money safe
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam consequatur doloribus dolorem animi eaque
          maiores nesciunt, ducimus, amet nulla nostrum excepturi itaque dolor assumenda neque possimus laborum porro
          quia adipisci accusamus beatae! Veritatis ut incidunt illum consequatur dolor nulla perferendis quae, placeat
          explicabo porro voluptas praesentium! Praesentium deleniti soluta velit!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque atque maiores repudiandae libero ex
          beatae excepturi dolorem ad, adipisci voluptatibus..</div>
        <button class="animated-border-button">Read more</button>
      </div>
      <div class="picture">
        <img src="/static/images/7176685.jpg" alt="" height="300px">
      </div>

    </div>
  </div>
  <!-- card section  -->
  <div class="cardSection"> Dive into Expert Articles on Fraud Detection</div>
  <div class="container-card">
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>

  </div>
  <!-- carousel  -->
  <div class="cardSection">In Collaboration With Rajasthan Police</div>
  <div class="PostSlide">

    <div class="innerContainer active">
      <div class="slider">
        <div class="slide">
          <div style="background:url('/static/images/Women_Band_e0c9dca5fa.jpeg')">
          </div>
        </div>
        <div class="slide">
          <div style="background:url('/static/images/Cyber_Cirme_Award_Event_32be41e087.jpeg')">
          </div>
        </div>
        <div class="slide">
          <div style="background:url('/static/images/DGP_Disk1_3a1bc13dbc.jpeg')">
          </div>
        </div>
        <div class="slide">
          <div style="background:url('/static/images/Drill_Practice_3dae49ed65.jpeg')">
          </div>
        </div>
        <div class="slide">
          <div style="background:url('/static/images/2_594c72b78a.png')">
          </div>
        </div>
        <div class="slide">
          <div style="background:url('/static/images/RPA_Election_commite_c4e65ba68d.jpeg')">
          </div>
        </div>

      </div>

      <div class="handles">
        <span class="prev">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0001 19.92L8.48009 13.4C7.71009 12.63 7.71009 11.37 8.48009 10.6L15.0001 4.07999"
              stroke="rgb(55 65 81/1)" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </span>
        <span class="next">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99991 19.92L15.5199 13.4C16.2899 12.63 16.2899 11.37 15.5199 10.6L8.99991 4.07999"
              stroke="rgb(55 65 81/1)" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </span>
      </div>
      <div class="dots">
      </div>
    </div>
  </div>
  <div class="carouselPara">In proud collaboration with the esteemed Rajasthan Police, we stand united in our commitment
    to security, order, and peace. Established in January 1951, the Rajasthan Police has evolved into a formidable
    95,000-strong force, embodying excellence in organization, equipment, operational techniques, and a steadfast
    outlook. Together, we share a narrative of achievements and glory spanning seventy-three years. From combating the
    menace of dacoits in the Chambal ravines to addressing the challenges posed by criminal gangs, spies, smugglers, and
    narco-terrorists along the international border, the Rajasthan Police has consistently demonstrated resilience and
    dedication.

    Aligned with the mission of the Rajasthan Police, our collaboration strives to uphold the law, maintain societal
    order, and ensure the safety of communities. With values rooted in courage, fairness, loyalty, and integrity, our
    joint efforts inspire and create a sense of security. The Rajasthan Police, driven by dynamism and professionalism,
    treats its people as the most valued asset, serving them with unwavering commitment, humility, and trust.

    Adapting to the demands of the 21st century, the Rajasthan Police is equipped with the latest Forensic Science
    Laboratory, advanced Telecommunication facilities, and cutting-edge Information Technology. While the tools may have
    evolved, the enduring 'esprit de corps' — a shared camaraderie that defines us as a family — remains unaltered. In
    the true spirit of the Rajasthan Police motto, 'Sevarth Katibaddhta' सेवार्थ कटिबद्धता, we collaborate to ensure a
    safer and more secure future for all.</div>



  <!-- footer  -->

  <footer class="footer-distributed">
    <hr>
    <div class="footer-left">


      <h3>Vangaurd<span><img src="/logo.svg" alt=""></span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Contact Us</a>
        ·
        <a href="#">Terms of Service</a>
        ·
        <a href="#">Privacy Policy</a>
      </p>

      <p class="footer-company-name">Vangaurd © 2023</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>Contact Us</p>

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email">
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form>

    </div>

  </footer>

  <script>
    var autoplayIntervalInSeconds = 3;


    class PostSlider {

      constructor(containerElement, autoplayIntervalInSeconds) {
        this.container = containerElement;
        if (!this.container) {
          throw new Error(`Container not found.`);
        }

        this.slider = this.container.querySelector('.slider');
        this.prevBtn = this.container.querySelector('.handles .prev');
        this.nextBtn = this.container.querySelector('.handles .next');

        this.sLiderWidth = this.slider.clientWidth;
        this.oneSLideWidth = this.container.querySelector('.slide:nth-child(2)').clientWidth;
        console.log(this.oneSLideWidth);
        this.sildesPerPage = Math.trunc(this.sLiderWidth / this.oneSLideWidth);
        this.slideMargin = ((this.sLiderWidth - (this.sildesPerPage * this.oneSLideWidth)) / (this.sildesPerPage * 2)).toFixed(5);
        this.changeSlidesMargins();

        // Assign this.dots before calling bindDotClickHandlers
        this.dots = this.container.querySelectorAll('.dots span');
        this.bindDotClickHandlers();

        this.makeSliderScrollable();
        this.prevBtn.addEventListener('click', () => this.prevSlider());
        this.nextBtn.addEventListener('click', () => this.nextSlider());

        this.createDots();
        this.setActiveDotByScroll();

        this.autoplayInterval = null;
        this.autoplayDelay = autoplayIntervalInSeconds * 1000;

        this.startAutoplay()
        this.container.addEventListener('mouseenter', () => this.pauseAutoplay());
        this.container.addEventListener('mouseleave', () => this.startAutoplay());

        return this;
      }
      changeSlidesMargins() {
        const slides = this.container.querySelectorAll('.slide');
        if (this.oneSLideWidth * 2 > this.sLiderWidth) {
          this.slideMargin = 1;
          this.oneSLideWidth = this.oneSLideWidth + (this.sLiderWidth - this.oneSLideWidth - 2);
          slides.forEach(slide => {
            slide.style.margin = "0 " + this.slideMargin + "px";
            slide.style.minWidth = this.oneSLideWidth + "px";
          });

        } else {
          slides.forEach(slide => {
            slide.style.margin = "0 " + this.slideMargin + "px";
          });
        }
      }


      scrollToPosition(position, smooth = true) {
        console.log('Scrolling to position:', position);
        const currentPosition = this.slider.scrollLeft;
        const newPosition = currentPosition + position;

        this.slider.scrollTo({
          top: 0,
          left: newPosition,
          behavior: smooth ? 'smooth' : 'instant'
        });

        console.log('Current position - New position:', currentPosition - newPosition);

        setTimeout(() => {
          this.snapToNearestSlide();
        }, 300);
      }
      scrollWithDots(pos) {
        this.slider.scrollTo({
          top: 0,
          left: pos,
          behavior: "smooth"
        });
      }

      handleDotClick(index) {
        const position = index * (this.slider.getBoundingClientRect()['width']);
        this.scrollWithDots(position);
      }

      changeActiveDot(i) {
        for (let j = 0; j < this.dots.length; j++) {
          this.dots[j].classList.remove('active');
        }
        this.dots[i].classList.add('active');
      }


      bindDotClickHandlers() {
        for (let i = 0; i < this.dots.length; i++) {
          this.dots[i].addEventListener('click', () => {
            console.log('Dot clicked:', i);
            this.handleDotClick(i);
          });
        }
      }
      snapToNearestSlide() {

        const currentPosition = this.slider.scrollLeft;
        const nearestLeftScroll = Math.round(currentPosition / (this.oneSLideWidth + (this.slideMargin * 2))) * (this.oneSLideWidth + (this.slideMargin * 2));
        console.log(nearestLeftScroll);
        this.slider.scrollTo({
          left: nearestLeftScroll,
          behavior: 'smooth'
        });
      }
      makeSliderScrollable() {
        let isDragging = false;
        let startPosition;
        let startScrollPosition;

        this.slider.addEventListener('mousedown', (event) => startDrag(event));
        this.slider.addEventListener('touchstart', (event) => startDrag(event));

        const startDrag = (event) => {
          isDragging = true;
          startPosition = event.clientX || event.touches[0].clientX;
          startScrollPosition = this.slider.scrollLeft;

          document.addEventListener('mousemove', drag);
          document.addEventListener('touchmove', drag);
          document.addEventListener('mouseup', endDrag);
          document.addEventListener('touchend', endDrag);
        };

        const drag = (event) => {
          if (isDragging) {
            const currentX = event.clientX || event.touches[0].clientX;
            const deltaX = currentX - startPosition;
            this.slider.scrollLeft = startScrollPosition - deltaX;
          }
        };

        const endDrag = () => {
          if (isDragging) {
            isDragging = false;
            const currentPosition = this.slider.scrollLeft;
            const nearestLeftScroll = Math.round(currentPosition / (this.oneSLideWidth + (this.slideMargin * 2))) * (this.oneSLideWidth + (this.slideMargin * 2));
            console.log(nearestLeftScroll);
            this.slider.scrollTo({
              left: nearestLeftScroll,
              behavior: 'smooth'
            });

            document.removeEventListener('mousemove', drag);
            document.removeEventListener('touchmove', drag);
            document.removeEventListener('mouseup', endDrag);
            document.removeEventListener('touchend', endDrag);
          }
        };
      }

      setActiveDotByScroll() {
        this.dots = this.container.querySelectorAll('.dots span');
        this.slider.addEventListener('scroll', () => {
          const scrollLeft = this.slider.scrollLeft;
          const currentIndex = Math.trunc((Math.abs(scrollLeft) + 2) / this.slider.clientWidth);

          console.log('Scroll Left:', scrollLeft);
          console.log('Current Index:', currentIndex);

          for (let i = 0; i < this.dots.length; i++) {
            this.dots[i].classList.remove('active');
          }

          this.dots[currentIndex].classList.add('active');

          this.prevBtn.style.opacity = Math.abs(scrollLeft) < 1 ? '0' : '1'; /*it means there is no element before so it would hide prev button*/
          this.nextBtn.style.opacity = Math.abs(scrollLeft) + 2 >= this.slider.scrollWidth - this.slider.clientWidth ? '0' : '1'; /*it means there is no element after so it would hide next button*/
        });
      }


      nextSlider() {
        const totalWidth = this.slider.scrollWidth;
        const currentScroll = this.slider.scrollLeft;
        const nextScroll = currentScroll + this.oneSLideWidth + (this.slideMargin * 2);

        if (nextScroll + this.slider.clientWidth > totalWidth) {
          // If next slide goes beyond the end, scroll to the beginning
          this.slider.scrollTo({
            left: 0,
            behavior: 'smooth'
          });
        } else {
          this.scrollToPosition(this.oneSLideWidth + (this.slideMargin * 2));
        }
      }

      prevSlider() {
        const currentScroll = this.slider.scrollLeft;
        const prevScroll = currentScroll - (this.oneSLideWidth + (this.slideMargin * 2));

        if (prevScroll < 0) {
          // If previous slide goes before the beginning, scroll to the end
          this.slider.scrollTo({
            left: this.slider.scrollWidth - this.slider.clientWidth,
            behavior: 'smooth'
          });
        } else {
          this.scrollToPosition(-1 * (this.oneSLideWidth + (this.slideMargin * 2)));
        }
      }

      createDots() {
        const dotCount = Math.floor(this.slider.scrollWidth / this.slider.clientWidth);
        const dotsContainer = this.container.querySelector('.dots');
        dotsContainer.innerHTML = '';

        for (let i = 0; i < dotCount; i++) {
          const dot = document.createElement('span');
          dot.addEventListener('click', () => {
            // this.changeActiveDot(i);
            this.handleDotClick(i);
          });

          if (i === 0) {
            dot.classList.add('active');
          }

          dotsContainer.appendChild(dot);
        }
      }

      startAutoplay() {
        this.autoplayInterval = setInterval(() => {
          this.nextSlider();
        }, this.autoplayDelay);
      }

      pauseAutoplay() {
        clearInterval(this.autoplayInterval);
      }
    }


    window.addEventListener('load', function () {
      var container = document.querySelector('.PostSlide .innerContainer');
      new PostSlider(container, 3);
    })
  </script>
</body>

</html>