<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/dash.css">
  <title>Welcome to Vanguard!</title>

</head>

<body>
  <div class="cont1">
    <!-- nabar -->
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <img src="/logo.svg" alt="">
        <div class="nav-title">
          Vanguard
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="" target="_blank">Home</a>
        <a href="" target="_blank">Make Transaction</a>
        <a href="" target="_blank">History</a>
        <a href="" target="_blank">About</a>
        <a href="" target="_blank">Contact Us</a>
      </div>
    </div>
    <!-- hero-section  -->
    <div class="centre-items">
      <div class="info">
        <div class="heroTitle">Vangaurd</div>

        <div class="heroTitle2">Securing Rajasthan Together</div>

        <div class="heroPara">Our mission is to provide a secure and reliable platform for the people of Rajasthan to
          make transactions and keep their money safe
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam consequatur doloribus dolorem animi eaque
          maiores nesciunt, ducimus, amet nulla nostrum excepturi itaque dolor assumenda neque possimus laborum porro
          quia adipisci accusamus beatae! Veritatis ut incidunt illum consequatur dolor nulla perferendis quae, placeat
          explicabo porro voluptas praesentium! Praesentium deleniti soluta velit!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque atque maiores repudiandae libero ex
          beatae excepturi dolorem ad, adipisci voluptatibus..</div>
        <button class="animated-border-button">Read more</button>
      </div>
      <div class="picture">
        <img src="/images/7176685.jpg" alt="" height="300px">
      </div>

    </div>
  </div>
  <!-- card section  -->
  <div class="cardSection"> Dive into Expert Articles on Fraud Detection</div>
  <div class="container-card">
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <p class="title">Article 1</p>
        <p class="para-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati est eligendi
          aliquam, quasi reprehenderit autem quas impedit hic ab reiciendis incidunt inventore voluptas nisi quod
          voluptates unde! Dolorum, quaerat!
          Repudiandae </p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
    </div>

  </div>
  <!-- footer  -->

  <footer class="footer-distributed">
    <hr>
    <div class="footer-left">


      <h3>Vangaurd<span><img src="/logo.svg" alt=""></span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Contact Us</a>
        ·
        <a href="#">Terms of Service</a>
        ·
        <a href="#">Privacy Policy</a>
      </p>

      <p class="footer-company-name">Vangaurd © 2023</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>Contact Us</p>

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email">
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form>

    </div>

  </footer>
</body>

</html>