<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
    <link rel="stylesheet" href="/static/display.css">

</head>
<body>
    <h1>Data from Database</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Bank_acc_no </th>
            <th>Unn</th>
            <th>Credit Card Number</th>
            <th>Amount</th>
            <!-- <th>Zip</th> -->
            <!-- <th>City Population</th> -->
            <th>Transaction Number</th>
            <th>Lattitude</th>
            <th>Longitude</th>
            <!-- <th>Unix_time</th> -->
            <!-- <th>prediction</th> -->
            <th>Result</th>
            <th>Action</th>

        </tr>
        {% for row in data %}
        <tr class="{% if row[8] == 'Fraud' %}fraud
        {% elif row[8]=='Not Fraud' %}Not-fraud
        {% else %}invalid
        {% endif %}">
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{row [7] }}</td>
            <!-- <td>{{row [8] }}</td>
            <td>{{row [9] }}</td> -->
            
            <!-- <td>{{row[10] }}</td>
            <td>{{row [11] }}</td> -->
            <td>{{row [8] }}</td>
            <!-- <td><button class="expand-btn" onclick="redirectToDetails('{{ row[0] }}')">Expand</button></td> -->
            <td><button class="expand-btn" onclick="redirectToDetails('{{ row[0] }}')">Expand</button></td>


        </tr>
        {% endfor %}
    </table>
    <!-- Update the script in the display.html file -->
    <script>
        // Function to redirect to the details template with the selected row's information
        function redirectToDetails(name) {
            // Redirect to the details page with the specific name parameter
            window.location.href = '/details_template/' + name;
        }
    </script>
    

</body>
</html>

