<!DOCTYPE html>
<html>
<head>
    <title>Live Transactions</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/live.css">
</head>
<body>
    <!-- <h1>Live Transactions</h1> -->
    <div class="heading2">
        Live Transactions
      </div>
    <div id="transaction-container">

    <table id="transaction-table">
        <thead>
            <tr>
                <th>CC Number</th>
                <th>Amount</th>
                <th>Zip</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Transaction Number</th>
                <th>Is Fraud</th>
            </tr>
    </table>
</div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var container = document.getElementById('transaction-container');

        socket.on('transaction', function (data) {
            // Check if the user is at the bottom before adding the transaction
            var isAtBottom = container.scrollTop + container.clientHeight >= container.scrollHeight;

            var transaction = JSON.parse(data);
            var table = document.getElementById('transaction-table');

            // Create a new row and cells
            var row = table.insertRow(-1);
            var ccNumCell = row.insertCell(0);
            var amtCell = row.insertCell(1);
            var zipCell = row.insertCell(2);
            var latCell = row.insertCell(3);
            var longCell = row.insertCell(4);
            var transNumCell = row.insertCell(5);
            var isFraudCell = row.insertCell(6);
            

            // Set the cell values
            ccNumCell.textContent = transaction.cc_num;
            amtCell.textContent = transaction.amt;
            zipCell.textContent = transaction.zip;
            latCell.textContent = transaction.lat;
            longCell.textContent = transaction.long;
            transNumCell.textContent = transaction.trans_num;
            isFraudCell.textContent = transaction.is_fraud;
            
            // If the user was at the bottom, scroll to the bottom
            if (isAtBottom) {
                setTimeout(function() {
                    container.scrollTop = container.scrollHeight;
                }, 10);
            }
        });
    </script>
</body>
</html>